/* 
Light Gray: 204, 219, 220
Powder Blue: 154, 209, 212
Middle Blue: 128, 206, 215
CG Blue: 0, 126, 167
Prussian Blue: 0, 50, 73
*/

body {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: #1CB5E0
}


/* Estados */


/* Hover : mientras el cursos está encima de algo */

a:hover {
    opacity: 0.6;
}


/* Que avisa si el link ha sido visitado previamente */


/* a:visited {
    color: black;
} */


/* Cuando presiona en el link */

a:active {
    background-color: black;
}


/* Para activar el foco sobre los links */

a:focus {
    background-color: black;
}

.titulo {
    text-transform: uppercase;
    text-align: center;
}

.parrafo {
    line-height: 1.8em;
    font-weight: 300;
}

.container {
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 3px 6px 1px #000046;
    /* X, Y, desenfoque, amplitud, color */
    position: relative;
    padding: 1.8em;
}

.actions {
    position: absolute;
    top: 1em;
    right: 1em;
}

.close {
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: #1CB5E0;
    display: inline-block;
    box-shadow: 2px 3px 10px 0.1px #000;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-star {
    color: #ffc400;
}

.table {
    width: 100%;
    border-spacing: 0px;
}

.table tr:nth-child(even) {
    background-color: #f3e5f5;
}

.nombre_p {
    text-align: left;
}

td,
th {
    padding: 1em;
    text-align: center;
    border: solid 0;
}

.titulo {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #108dc7;
    padding: 1em;
}